body, html, *{
    font-family: 'Poppins', sans-serif;
}


.container{
    padding: 0 145px;
    max-width: 1400px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 36px;
}

.header__el{
    display: flex;
}

.navbar__el:first-child{
    margin-left: 0;
}

.navbar__el{
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
}

.authorization{
    display: flex;
}

.authorization__button{
    font-size: 16px;
    font-weight: 600;
    color: #173A56;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 11px 25px;
    background-color: transparent;
    margin-right: 14px;
    cursor: pointer;
}

.authorization__button:hover{
    background-color: #FF9900;
    border-color:  #FF9900;
    color: #fff;
}

.authorization__button:last-child{
    margin-right: 0;
}

.main{
    display: flex;
    align-items: center;
    padding-top: 100px;
    justify-content: space-between;
    height: 80vh;
}

.main__title,
.tools__title{
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 30px;
}

.main__text{
    font-size: 18px;
    font-weight: 400px;
    line-height: 28px;
    margin-bottom: 45px;
}

.main__button{
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    padding: 11px 25px;
    margin-right: 30px; 
    background-color: #FF9900;
    color: #fff;
    cursor: pointer
}

.main__link{
    display: flex;
    align-items: center;
}

.main__control{
    display: flex;
}

.main__link{
    color: #FF9900;
    text-decoration: underline;
    font-weight: 600;
}

.main__triangle-icon{
    height: 9px;
}

.tools{
    padding-top: 120px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/tools-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.tool{
    width: 240px;
    margin-right: 46px;
}

.tool:last-child{
    margin-right: 0;
}

.tools__title{
    margin-bottom: 54px;
    text-align: center;
    font-size: 36px;
}

.tools__list{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tool__img{
    margin-bottom: 30px;
}

.tool__title{
    color: #2F281E;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 13px;
}

.tool__text{
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    line-height: 26px;
}

.tools__sign-up-button{
    margin-top: 60px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #FF9900;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    cursor: pointer
}

.managers,
.professionals,
.marketers{
    padding-top: 115px;
    display: flex;
    justify-content: space-between;
}

.managers__pretitle,
.professionals__pretitle,
.marketers__pretitle{
    margin-bottom: 5px;
    color: #544837;
    font-size: 16px;
    font-weight: 500;
}

.managers__title,
.professionals__title,
.marketers__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 22px;
}

.managers__text,
.professionals__text,
.marketers__text{
    margin-bottom: 30px;
    font-weight: 500;
    color: #544837;
    font-size: 16px;
}

.managers__list-title,
.professionals__list-title,
.marketers__list-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
    margin-bottom: 12px;
}

.managers__list-text,
.professionals__list-text,
.marketers__list-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-bottom: 25px;
}

.managers{
    display: flex;
    flex-direction: row-reverse;
}

.managers__list-el{
    display: flex;
    align-items: center;
}

.managers__list-text{
    margin-bottom: 0;
}

.managers__list-icon{
    margin-right: 30px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/Oval.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    position: relative;
}

.hero__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    color: #2F281E;
    text-align: center;
    margin-bottom: 22px;
}

.hero__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #567592;
    margin-bottom: 45px;
}

.hero__button{
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    padding: 11px 25px;
    background-color: #FF9900;
    border: 1px solid #FF9900;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.hero__card{
    position: absolute;
}

.hero__card-img{
    border-radius: 100%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    position: absolute;
    right: -50px;
    top: 30px;
}

.hero__card-text{
    z-index: 4;
    position: relative;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 26.5px;
    font-weight: 500;
    font-size: 16px;
}

.hero__card-text::after{
    content:' ';
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 36px;
    right: 40px;
}

.hero__card-text::before{
    content:' ';
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    right: 30px;
}

#hero-card-1{
    bottom: 0;
    left: 50%;
}

#hero-card-2{
    bottom: 20%;
    left: 15%;
}

#hero-card-3{
    top: 40%;
    left: 0;
}

#hero-card-4{
    top: 10%;
    left: 60%;
}

#hero-card-5{
    bottom: 26%;
    right: 15%;
}

.strategies{
    padding-top: 200px;
    padding-bottom: 120px;
}

.strategies__title{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #2F281E;
    margin-bottom: 10px;
}

.strategies__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-bottom: 55px;
}

.strategies-slider__slides-wrapper{
    display: flex;
    justify-content: space-between;
}

.strategies-slider__slide__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #2F281E;
}

.strategies-slider__slide:hover  .strategies-slider__slide__title{
    color: #FF9900;
}

.strategies-slider__info{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #544837;
}

.strategies-slider__info > span{
    font-weight: 700;
}

.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #DEE8F2;
    padding-top: 100px;
    padding-bottom: 95px;
}

.footer__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2F281E;
    margin-bottom: 35px;
}

.footer__list{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}

.footer__list-el{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}

.footer__list-el{
    margin-bottom: 15px;
}

.footer__list-el:last-child{
    margin-bottom: 0;
}

.footer__input{
    display: block;
    padding: 10px 15px;
    height: 50px;
    width: 325px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    margin-bottom: 20px
}

.footer__input::placeholder{
    color: #BCD0E5;
    font-weight: 400;
    font-size: 16px;
}

.footer__button{
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    padding: 11px 25px;
    background-color: #FF9900;
    border: 1px solid #FF9900;
    color: #fff;
    outline: none;
    cursor: pointer;
}